<div class="login-container">
  <div class="login-box">
    <div class="login-header">
      <img ngSrc="/chd-logo.svg" alt="Chambre des Députés Logo" class="logo" width="317" height="50">
      <h1>{{ 'login.title' | translate }}</h1>
    </div>

    <nz-card [nzBordered]="false">
      <div *ngIf="isInitializing(); else formContent" class="loading-spinner">
        <nz-spin nzSize="large" [nzTip]="'login.initializing' | translate"></nz-spin>
      </div>

      <ng-template #formContent>
        <div class="login-form">
          <nz-alert
            *ngIf="loginError"
            nzType="error"
            nzShowIcon
            [nzMessage]="loginError"
            class="error-alert"
          />

          <button
            nz-button
            nzType="primary"
            nzSize="large"
            nzBlock
            [nzLoading]="isLoading()"
            (click)="onLoginClick()"
            class="login-button"
          >
            <i *ngIf="!isLoading()" nz-icon nzType="login" nzTheme="outline"></i>
            {{ 'login.button.text' | translate }}
          </button>
        </div>
      </ng-template>
    </nz-card>

    <div class="login-footer">
      <p>{{ 'login.footer.copyright' | translate }}</p>
    </div>
  </div>
</div>
